.html_form{margin: 10px;} 
    .html_form .alert-info{background-color: #651A1A;border: 1px #651A1A solid; color: white;}
    .html_form table{width: 100%;}
    .html_form .key{width: 100px; white-space: nowrap; vertical-align: top; text-align: right;}
    .html_form .val{text-align: right;padding: 2px 10px;}
    .html_form .submit{float: right;}
    .html_form textarea{width:99.99%; height: 150px;} 

.permission{white-space: nowrap; width: 100px; font-family: monospace;}
    .permission i{margin: 0px 5px 0px 0px;}
    .permission span.g:hover{background-color: #DDD;}


.pagination{float: left; margin: 0px 3px 5px 3px;}

.perm_form td{text-align: center; padding: 3px;}
.perm_form th{text-align: center; padding: 3px;vertical-align: middle;}

.icon-null{background-position: 0px 0px;}

ol{
    margin-left: 20px;
}

.disabled{
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}


.cms-structure-left{
    width:400px;vertical-align: top;
    padding: 10px;
    border-right: 1px #DDD dotted;
    height: 100%;
}

.cms-main-center{
    padding: 10px;
    vertical-align: top;
}

.cms-main{
    width: 100%;
    margin-bottom: 150px;
}
