<h1>{$data.tag.name}</h1>
{if 0}<a href="/cms/pages/edit/{$data.tag.page_id}/?back_url={$smarty.server.REQUEST_URI}"><i class="icon-pencil"></i>Править страницу раздела</a>{/if}
{$data.pageform}
{if $data.pages_table}
<a href="/cms/pages/new/{$data.tag.id}/?back_url={$smarty.server.REQUEST_URI}"><i class="icon-plus"></i>Добавить страницу в раздел</a>
{$data.pages_table}
{/if}
{$data.tagsform}
