.submit-button{
    height: 20px !important;
    padding: 0px 10px;
    margin-left: 10px;
}

#file-upload{
    margin-bottom: 0px;
}

.filemanager form{
    margin-bottom: 0px;
    display: inline;
    margin-left:40px;
}

.filemanager .folder img{
    margin: 0px 10px 0px 10px;
}

.filemanager .folder{
    width: 300px;
}

.filemanager div.folder:hover{
    background-color: #EEE;
}

.filemanager .file{
    width: 300px;
}

.filemanager div.file:hover{
    background-color: #EEE;
}

.filemanager .file .del-button{
    float: right;
}
.filemanager .folder .del-button{
    float: right;
}
