<a href="/locale/import/">{php}_w('Import'){/php}</a>
<a href="/locale/export/">{php}_w('Export'){/php}</a>
<a href="/locale/langs/">{php}_w('Languages'){/php}</a>
<a href="/locale/terms/">{php}_w('Terms'){/php}</a>
