<h1>{php}_w('Messages'){/php}</h1>

{$data.messages_menu}

{if $data.messages}
<div class="messages">
    <table class="table">
        <tr>
            <th width="16px">
                &#160;
            </th>
            <th width="150px">
                {php}_w('Date'){/php}
            </th>
            <th width="200px">
                {php}_w('Sender'){/php}
            </th>
            <th>
                <i class="icon-arrow-right"></i>
            </th>
            <th>
                {php}_w('Recipient'){/php}
            </th>
            <th>
                {php}_w('Readed'){/php}
            </th>
            <th>
                &#160;
            </th>
        </tr>
        {foreach from=$data.messages item="message"}
        <tr>
            <td>
                <a href="/messages/view/{$message.id}/" title="{php}_w('View'){/php}">
                    {if $message.read_date=='Undefined'}
                    <i class="icon-envelope"></i>
                    {else}
                    <i class="icon-comment"></i>
                    {/if}
                </a>
            </td>
            <td>
                {$message.date}
            </td>
            <td>
                <a href="/messages/history/0/{$message.from_id},{$message.to_id}/" title="История переписки">
                    {$message.from_fio}
                </a>
            </td>
            <td>
                &#160;
            </td>
            <td>
                <a href="/messages/history/0/{$message.from_id},{$message.to_id}/" title="История переписки">
                    {$message.to_fio}
                </a>
            </td>
            <td>
                {$message.read_date}
            </td>
            <td>
                <a href="/messages/delete/{$message.id}/?return_url={$smarty.server.REQUEST_URI}" title="История сообщений">
                    <i class="icon-trash"></i>
                </a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
{/if}

{if $data.pages}
<div class="pagination">
    <ul>
        {foreach from=$data.pages item="page" key="offset"}
        <li><a href="/{$data.module}/{$data.section}/{$offset}/">{$page}</a></li>
        {/foreach}
    </ul>
</div>
{/if}

