/**
    Page structure
    
    <div id="wrap">
        <div id="head">
        </div>
        <div id="main_menu">
        </div>
        <div id="left_column">
        
        </div>
    </div>
    <div id="footer">
        <div id="copyright">
        </div>
    </div>

*/

html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background-color: #EEE;
}

#wrap{
    min-height: 100%;
    height: auto !important;
    border-left: 1px #DDD solid;
    margin-left: 305px;
    background-color: #FFF;
}

#footer{
    margin-top: -28px;
    height: 26px;
    background-color: #EEE;
    border-top: 1px white solid;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e;
}

    #footer #copyright{
        text-align: center;
        padding: 4px 0px;
        font-size: 12px;
    }


#main_menu{
    background-color: #EEE;
    border-bottom: 1px #DDD solid;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 0 3px #dbc59e;
    -moz-box-shadow: 0 0 3px #dbc59e;
    box-shadow: 0 0 3px #dbc59e;
    position: absolute;
    left: 0px; right: 0px; top: 50px; height: 24px;
}

#main_menu .nav > li > a{
    padding: 4px 8px 4px 8px;
    margin: 0px;
    border: 1px transparent solid;
}

#main_menu .nav > li > a:hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px #FFF solid;
    border-right: 1px #FFF solid;
    border-top: 1px #DDD solid;
    border-left: 1px #DDD solid;
}

#main_menu .nav .dropdown-menu{
    -webkit-border-radius: 0px;
    padding: 0px;
    -webkit-box-shadow: 0 0 3px #dbc59e;
    -moz-box-shadow: 0 0 3px #dbc59e;
    box-shadow: 0 0 3px #dbc59e;
}

#main_menu .nav .dropdown-menu a:hover{
    background-color: #039;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#main_menu .nav .active a{
    background-color: #039;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px #FFF solid;
    border-right: 1px #FFF solid;
    border-top: 1px #DDD solid;
    border-left: 1px #DDD solid;
}

#left_column{
    position: absolute;
    top: 75px; left: 0px;
    bottom: 26px;
    width: 280px;
    padding: 10px;
    overflow: auto;
    background-color: #FFF;
    border-left: 1px #F8F8F8 solid;
}

#center_column{
    margin-top: 75px;
    padding: 20px;
}

#head{
    height: 50px; position: absolute; background-color: white; 
    top: 0px; left: 0px; right: 0px;
}

#logo{
    float: left;
    height: 40px;
    border: 1px #DDD solid;
    width: 100px;
    margin: 3px;
    background-color: #EEE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#auth403{
    position: fixed;
    top: 100px;
    border: 1px #AAA solid;
    left: 30%;
    right: 30%;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e;
}

#auth403 .title{
    background-color: #039;
    color: white;
    font-weight: bold;
    text-align: center;
}

#auth403 .body{
    min-height: 100px;
}

.btn, .btn-primary, submit, input{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 14px;
    padding: 4px 10px 4px 10px;
}
