<h1>{php}_w('Permissions'){/php}. {php}_w('Routes'){/php}.</h1>

<a href="/permissions/routes/?path={$data.return_path}">
    <i class="icon-share-alt"></i>{php}_w("Back"){/php}
</a>

<a href="/permissions/groups/?path={$data.path}" style="float: right;">
    <i class="icon-group"></i>{php}_w("Set groups access for this route"){/php}
</a>
{$data.permissions_table}
