.fileselecter_main{
    position: fixed;
    left: 20%;
    right: 20%;
    top: 20%;
    height: 450px;
    border: 1px #888 solid;
    background-color: white;
    z-index: 5000;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;

    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;

  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
    
}

.fileselecter_main .path{
    margin: 0px 10px;
    background-color: #EFEFEF;
    border: 1px #DDD solid;
}

.fileselecter_main .title{
    margin: 2px;
    background-color: #44A;
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    color: white;
}

.fileselecter_main .close{
    font-size: 10px;
    margin-right: 5px;
    color: white;
    opacity: 1;
}

.fileselecter_main .ls{
    border: 1px transparent solid;
    background-color: white;
    color: black;
    padding-top: 10px;
    height: 350px;
    overflow: auto;
}

.fileselecter_main .ls div{
    text-align: left;
    margin-left: 16px;
    padding-left: 16px;
    cursor: pointer;
    float: left;
    width: 30%;
    height: 48px;
}

.fileselecter_main .ls div img{
    margin: 3px 5px 0px 0px;
}

.fileselecter_main .ls div.selected{
    background-color: #88C;
}

.fileselecter_main .ok{
    background-color: #EFEFEF;
    color: black;
    border-top: 1px #DDD solid;
    border-left: 1px #DDD solid;
    border-bottom: 1px #AAA solid;
    border-right: 1px #AAA solid;
    width: 200px;
    float: right;
    MARGIN: 0px 20px 0px 0px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.fileselecter_main .pressed{
    background-color: #EEE;
    border-top: 1px #AAA solid;
    border-left: 1px #AAA solid;
    border-bottom: 1px #DDD solid;
    border-right: 1px #DDD solid;
}
