<form method="POST">
	Сумма <input type="text" name="summ">
	<input type="submit" name="pay" value="Пополнить">
	<div class="payment_type">
		<input type="radio" name="payment_type" value="robokassa" checked="true"/>
		<img src="/wirix/libs/r/robokassa/i/robokassa.jpg" >
	</div>
</form>