{if $data.payment_success_no}
<div class="alert alert-success">
Платёж успешно проведён. Баланс пополнен.<br/>
Номер платежа: {$data.payment_success_no}<br/>
Сумма: {$data.payment_success_sum} руб.
</div>
{/if}

{if $data.payment_error_no}
<div class="alert alert-error">
Платёж не проведён.<br/>
Номер платежа: {$data.payment_error_no}<br/>
Сумма: {$data.payment_error_sum} руб.
</div>
{/if}

{if $data.payment_error_crc}
<div class="alert alert-error">Ошибка контрольной суммы</div>
{/if}
