<div class="page">
    {if $data.is_admin}
    <div class="control" style="text-align:right;"><i class="icon-pencil"></i> <a href="/cms/pages/edit/{$data.page_info.id}/?back_url={$smarty.server.REQUEST_URI}">Править</a></div>
    {/if}
    <h1>{$data.page_info.name}</h1>
    <div class="text">{$data.page_info.text}</div>
</div>
