

<div class="message">
    <div class="f-row">
        <div class="f-row">
            {$data.message.date}
        </div>
    </div>
    <div class="f-row">
        {if $data.message.from_fio}
            {$data.message.from_fio}
        {else}
            {$data.message.from_username}
        {/if}
        <i class="icon-user"></i>
        <i class="icon-arrow-right"></i><i class="icon-user"></i>
        {if $data.message.to_fio}
            {$data.message.to_fio}
        {else}
            {$data.message.to_username}
        {/if}
    </div>
    {if $data.message.files}
    <div class="files">
        <iframe name="file_download_frame" style="display:none;"></iframe>
        {foreach from=$data.message.files item="file"}
        <div title="{php}_w('Download'){/php}">
            <img src="{$file.pic}"/>
            <a href="/messages/download/{$file.id}/" target="file_download_frame">
            {$file.name}
            </a>
        </div>
        {/foreach}
    </div>
    {/if}
    <div class="message-body">
    {$data.message.body}
    </div>
    <div class="reply">
        <a href="/messages/reply/{$data.message.id}/">
            <i class="icon-share-alt"></i>
            Ответить
        </a>
        <a href="/messages/history/{$data.message.from_id}/{$data.message.to_id}/">
            <i class="icon-book"></i>
            {php}_w('History'){/php}
        </a>
    </div>
</div>
