#tagpage_field1{width:90%;}
#tagpage_field2{width:90%;}
#tagpage_field3{width:90%;}
#tagpage_field4{width:90%;}
#tagpage_field5{width:90%;}
#tagpage_field6{width:90%;}
#pages_pages_edit_form_field1{width:90%;}
#pages_pages_edit_form_field2{width:90%;}
#pages_pages_edit_form_field3{width:90%;}
#pages_pages_edit_form_field4{width:90%;}
#pages_pages_edit_form_field5{width:90%;}
#pages_pages_edit_form_field6{width:90%;}
#pages_pages_edit_form_field7{width:90%;}
#pages_pages_edit_form_field8{width:90%;}
#pages_pages_edit_form_field9{width:90%;}
#pages_pages_edit_form_field10{width:90%;}
#pages_pages_edit_form_field11{width:90%;}
#pages_pages_edit_form_field12{width:90%;}

Ссылка:	/login
Логин:	admin
Пароль:	gH7l&zJ2qZ

div.page-anons{
    margin: 20px 0px;
    display: block;
    clear: both;
}
    div.page-anons-icon{
        float:left;
        width: 64px;
        height: 64px;
        margin: 5px;
        border: 1px #CCC solid;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius:20px;
        background-color: white;
        box-shadow: 0px 0px 10px 1px #DDD;
    }
    div.page-anons-name{
        display: inline-block;
        margin: 10px 10px;
        font-size: 20px;
    }
