<h1>{php}_w('search'){/php}</h1>
<form action="/search/">
<input type="text" name="query" value="{$data.query}" id="#search_query"/>
<input type="submit" name="search" class="submit btn" value="{php}_w('search'){/php}"/>
</form>
{if $data.result}
<div id="search_pages">
    {php}_w('pages'){/php}&#160;&#160;
    {foreach from=$data.pages item="pagenum" key="offset"}
    <a href="?query={$data.query}&offset={$offset}">{$pagenum}</a>
    {/foreach}
</div>
<div id="search_result">
    {foreach from=$data.result item="item"}
    <div class="search_item">
	<a href="/pages/view/{$item.id}/">{$item.name}</a>
    </div>
    {/foreach}
</div>
{else}
    {php}_w('not found'){/php}
{/if}