
    
    {* Хлебные крошки *}
    {if $data.bread}
        <a href="{$data.bread[0].url}" class="bread">{$data.bread[0].name}</a>
        {foreach from=$data.bread item="bread" key="bread_num"}
            {if $bread_num<=0}{php}continue;{/php}{/if}
            &#160;/&#160;<a href="{$bread.url}" class="bread">{$bread.name}</a>
        {/foreach}
    {/if}
        
    <h1>{if $data.page.h1}{$data.page.h1}{else}{$data.tag.name}{/if}</h1>
    
    {* Текст раздела *}
    <div class="page-tag-text">{$data.page.text}</div>
    
    {* Подразделы *}
    {if $data.tags}
    <div class="subsection">
        {foreach from=$data.tags item="tag"}
        <a href="{if $tag.url}{$tag.url}{else}/tags/view/{$tag.id}/{/if}" class="section-shape">
            <div style="background-image: url(/uploads/pages/page_med_{$tag.page_id}.png);"></div>
        </a>
        <div class="section-name">
            <a href="{if $tag.url}{$tag.url}{else}/tags/view/{$tag.id}/{/if}">
                {$tag.name}
            </a>
        </div>
        {/foreach}
    </div>
    {/if}
    
    
    
    {foreach from=$data.pages item="page"}
    <div class="page-anons">
        <div class="page-anons-icon" style="background-image: url(/uploads/pages/page_tiny_{$page.id}.png);"></div>
        <div class="page-anons-name"><a href="/pages/view/{$page.id}/">{$page.name}</a></div>
        <div class="page-anons-text">
            {$page.anons}
        </div>
    </div>
    {/foreach}
