<table class="cms-main">
    <tr>
        <td colspan="2" class="cms-menu-center">
        {$data.menu}
        </td>
    </tr>
    <tr>
        <td class="cms-structure-left">
            {$data.structure_tree}
        </td>
        <td class="cms-main-center">
