.message .message-body{
    border: 1px #EEE solid;
    background-color: #F8F8F8;
    padding: 10px;
}

.message .f-row{clear: both; margin-bottom: 5px;}
.message .f-left{float: left; width: 150px;font-weight: bold;}
.message .f-right{}

.message .answer{
    width: 90%;
    height: 200px;
}

.message .reply a{
    margin: 10px 10px;
}

.messages tr:hover{
    background-color: #F8F8F8;
}

.message .files{margin: 10px 10px;}

.message .add-upload{cursor: pointer;}
.message .upload input{margin: 4px 0px 0px 5px;}
