

.wirix_html_tree_db .item .expand{
    width: 9px;
    height: 9px;
    float: left;
    margin: 4px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wirix_html_tree_db .item div.title:hover{
    background-color: #F4F4F4;
}

.wirix_html_tree_db .item .plus{
    background-image: url(/wirix/libs/h/html_tree_db/i/plus.png);
}

.wirix_html_tree_db .item .minus{
    background-image: url(/wirix/libs/h/html_tree_db/i/minus.png);
}


.wirix_html_tree_db .item .childs{
    padding-left: 24px;
}

.wirix_html_tree_db .item div.active{
    background-color: #039 !important;
}


.wirix_html_tree_db .item div.active a{
    color: white;
}

.wirix_html_tree_db .item div.active a:hover{
    color: #0088cc;
}


.wirix_html_tree_db .context-menu{
    position: fixed;
    border-top: 1px white solid; 
    border-left: 1px white solid; 
    border-bottom: 1px #DDD solid; 
    border-right: 1px #DDD solid; 
    background-color: #F8F8F8;
    padding: 0px;
    z-index: 9999;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e;
    display: none;
}

.wirix_html_tree_db .context-menu .item{
    white-space: nowrap;
    cursor: pointer;
    padding: 3px 15px;
}

.wirix_html_tree_db .context-menu div.item:hover{
    background-color: #039;
    color: white;
}

.wirix_html_tree_db .item input{
    border: 1px transparent solid;
    height: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}
