.wirix_html_db_table_float table{
    width: 98%;
    border-collapse: collapse;
}

.wirix_html_db_table_float table th{
    background-color: #F8F8F8;
    border: 1px #DDD solid;
    padding: 1px 5px ;
}

.wirix_html_db_table_float table td{
    border: 1px #DDD solid;
    padding: 0px;
    height: 20px;
}


.wirix_html_db_table_float table input{
    width:95%;
    margin: 0px;
    border: 1px transparent solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
     box-shadow: none;
    background-color: transparent;
}


.wirix_html_db_table_float .scroll{
    border: 1px #ddd solid;
    position: ;
    position: absolute;
    left: 98%;
    width: 1.5%;
    background-color: white;
}


.wirix_html_db_table_float .scroll div.picker{
    cursor: pointer;
    border-bottom: 1px #DDD solid;
    border-right: 1px #DDD solid;
    border-top: 1px #F8F8F8 solid;
    border-left: 1px #F8F8F8 solid;
    position: relative;
    height: 20px;
    background-color: #EEE;
    text-align: center;
    font-size: 10px;
}

.wirix_html_db_table_float table td.scroll div.picker:hover{
    background-color: #DDD;
}

.wirix_html_db_table_float_search_form{
    float: right;
    margin-right: 40px;
}

.wirix_html_db_table_float_search_form input.query{
    background-image: url(/wirix/libs/h/html_db_table_float/i/search.png);
    background-repeat: no-repeat;
    background-position: 98% 2px;
    height: 16px;
    padding: 2px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.wirix_html_db_table_float .progress{
    background-image: url('/wirix/libs/h/html_form/i/progressbar.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
