.html_form{margin: 10px;} 
    .html_form .alert-info{background-color: #651A1A;border: 1px #651A1A solid; color: white;}
    .html_form table{width: 100%;}
    .html_form .key{width: 100px; white-space: nowrap; vertical-align: top; text-align: right; padding: 0px 10px;}
    .html_form .val{text-align: right;padding: 2px 10px;}
    .html_form .submit{float: right; margin-top: 10px;}
    .html_form textarea{width:99.99%; height: 150px;} 


.html_form td{padding: 10px;}

.html_form .group-suffix{
    font-size: 8px;
    height: 1px;
    padding: 0px;
}

.html_form .group-bottom{
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    height: 10px;
    padding: 0px;
    background-color: #eee;
}

.html_form .group-top{
    height: 10px;
    padding: 0px;
    background-color: #DDD;
    cursor: pointer;
}

.html_form .group-top .title{
    text-align: center;
    padding: 5px 10px;
}

.html_form .group-top .title i{
    font-weight: bold;
    text-decoration: underline;
    float: right;
}

tbody.form_grouped{
    background-color: #EEE;
    border-bottom: 1px #BBB dashed;
    border-left: 1px #BBB dashed;
    border-right: 1px #BBB dashed;
    border-top: 1px #BBB dashed;
}

.html_form tbody.group{
    border: 1px #DDD solid;
}


.submit_loaded{
    background-image: url(/wirix/libs/h/html_form/i/progressbar.gif);
    background-repeat: no-repeat;
    background-position: 50% 6px;
    padding: 2px 10px;
}

.html_form .alert-bar{display: none;}
.html_form .success-bar{display: none;}

td.val{vertical-align: top;}
