

<div class="message">
    <div class="f-row">
        <div class="f-right">
            <i class="icon-arrow-right"></i><i class="icon-user"></i>
            {if $data.message.from_fio}
                {$data.message.from_fio}
            {else}
                {$data.message.from_username}
            {/if}
        </div>
    </div>
    <div class="reply"> 
        <form method="POST" enctype="multipart/form-data">
            <fieldset>
            <h2>{php}_w('Answer'){/php}</h2>
            <div>
                <a href="/messages/history/{$data.message.from_id}/{$data.message.to_id}/">
                    <i class="icon-book"></i>{php}_w('History'){/php}
                </a>
            </div>
                <textarea name="answer" class="answer">{$data.message.body}</textarea>
            <div class="uploads">
            </div>
            <div class="add-upload">
                <i class="icon-plus"></i>{php}_w('Add file');{/php}
                <br/><br/>
            </div>
            <div>
                <button type="submit" class="btn">{php}_w('Submit'){/php}</button>
                <button type="submit" class="btn btn-primary" onclick="document.location.href='/messages/view/{$data.message.id}/';">{php}_w('Cancel'){/php}</button>
            </div>
            </fieldset>        
        </form>
    </div>
</div>
<script language="javascript" src="/wirix/libs/m/message/js/scripts.js" type="text/javascript"></script>
