body, html{
    margin: 0px;
    padding: 0px;
}

.excel table{
    border-spacing: 0px 0px;
    //border-collapse: collapse;
}

.excel th{
    width: 100px;
    text-align: center;
    border: 1px #AAA solid;
    background-color: #DDD;
    height: 12px;
    font-size: 12px;
    padding: 0px !important;
    line-height: 1.4;
}

.excel td{
    //border: 1px #F4F4F4 solid;
    height: 12px;
    font-size: 12px;
    padding: 0px !important;
    line-height: 1.4;
}

.excel .cell{
    white-space: nowrap;
    width: auto;
    height: 12px;
    position: relative;
    text-align: inherit;
    margin: 0px 0px;
    padding: 0px;
}

.excel .pic{
    position: absolute;
    max-width: inherit;
    z-index: 999;
}


.excel .watermark{
    position: absolute;
    left: 35%;
    top: 40%;
    color: #DDD;
    font-size: 128px;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.excel .layout{
    position: absolute;
    height: 944px;
    width: 660px;
    border: 1px #888 dashed;
}


