<h2>&laquo;{if $data.profile.fio.value}{$data.profile.fio.value}{else}{$data.auth->user.name}{/if}&raquo;</h2>
{if $smarty.get.status}
<div class="alert alert-warning">
    {if $data.status_text}
        {$data.status_text}
    {else}
        {$smarty.get.status}
    {/if}
</div>
{/if}

{if $data.prop_types}
<ul class="nav nav-tabs" id="profile_menu">
    {foreach from=$data.prop_types item="type"}
    <li class="dropdown{if $data.http->section==$type.id} active{/if}"><a href="/profile/{$type.id}">{$type.name}</a></li>
    {/foreach}
</ul>
{/if}

{$data.prop_form}
