.as-selections{
    list-style-type: none;
    margin: 0px;
}

.as-input{
    margin: 0px;
}

.as-original input{
    width: 90%;
}

.as-result-item{
    list-style-type: none;
    margin: 3px;
    text-align: left;
    padding: 3px 8px;
}


.as-list{
    margin: 0px;
}

.active{
    background-color: #348;
    color: white;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.as-result-item em{
    background-color: yellow;
    color: #348;
}

.as-message{
    list-style-type: none;
}

.as-results{
    position: absolute;
    background-color: #EEE;
    border: 1px #AAA solid;
   -moz-box-shadow: 0 0 30px #444;
   -webkit-box-shadow: 0 0 30px #444;
   box-shadow:0 0 30px #444;

    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;

    z-index: 10001;
}
