<h1>{php}_w('Permissions'){/php}. {php}_w('Groups'){/php}.</h1>
<a href="/permissions/routes/?path={$data.return_path}">
    <i class="icon-share-alt"></i>{php}_w("Return to router"){/php}
</a>
{$data.groups_table}
