div.wirix-tree-item:hover{
    background-color: #f3f3f3;
}

.wirix-tree-item i{
    float: left;
    cursor: pointer;
    margin-right: 5px;
}


.wirix-tree-item-tools{
    float: right;
    width: 120px;
    height: 16px;
    text-align: right;
    margin-right: 10px;
}


.wirix-tree-subitems{
    padding-left: 30px;
}

.wirix_html_db_tree .active{
    background-color: #0088cc;
    color: #FFF;
    padding: 3px;
}

.wirix_html_db_tree div.active:hover{
    background-color: #0088cc;
    color: #FFF;
}

.wirix_html_db_tree .active a{
    color: #FFF;
}


.wirix_html_db_tree_popup{
    border: 1px #DDD solid;
    position: fixed;
    width: 150px;
    padding: 3px;
    background-color: white;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
  z-index: 10000;
  color: black;
}

.wirix_html_db_tree_popup div:hover{
    background-color: #4466AA;
    color: white;
    cursor: pointer;
}

