<div class="page-wrap">


{$data.navbar}


<div class="center-column">

{$data.breadcrumbs}

{if $data.second_menu}{$data.second_menu}{/if}
{if $data.third_menu}{$data.third_menu}{/if}

<h1>{$data.h1}</h1>
    
