.table th{white-space: nowrap;text-align: center; vertical-align: top;}
.table th select{width: 100%;}
.table i{margin-right: 8px;}

.btn-group a.btn:first-child{padding: 7px 5px 1px 5px;}
.btn-group a.btn:last-child{padding: 5px 5px 3px 5px;}
.btn-group .search input{margin: 2px 2px 2px 2px; height: 16px;}
.btn-group .search{padding: 2px 2px 6px 2px;}

.btn-group .btn:first-child i{margin: 0px 0px 0px 0px;}
.btn-group .btn:first-child input{margin: 0px 0px 0px 0px;}

.btn-group .search{padding: 2px 0px 6px 0px;}
    .btn-group .search input{width: 90%; margin: 2px 2px 2px 2px; height: 16px;}
    
    

div.btn-group{float: right; margin: 0px 3px 5px 3px;}
    .btn-group .btn{height: 26px;}
        .btn-group .btn i{margin: 5px 0px 5px 0px;}

.btn-toolbar{height: 32px;}

.loading{
    background-image: url(/wirix/i/progressbar/005.gif);
    background-repeat: no-repeat;
    background-position: 50% 100px;
    padding-top: 0px !important;
}

.avg th{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}
.avg td{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}
.avg div{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}

.total th{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}
.total td{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}
.total div{font-weight: bold;font-size: 12px;background-color: #F8F8F8;}

