.navbar div.auth{float: right;clear: none;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}

.navbar .auth img.ava{position: absolute; top: 12px; right: 290px;}
.navbar .auth table{}

.navbar .container{width: 100%;}

.navbar .auth .alert{margin: 0px 0px 2px 0px; text-align: right;}

.navbar .auth .html_form{margin: 5px 0px 0px 0px; width: 350px;}

    .navbar .auth form{margin: 0px;}
    .navbar .auth tr{float: left;}
    
    .navbar .auth tr.success-bar .alert{padding: 5px; margin: 0px; width: 220px; float: left;}
    .navbar .auth tr.alert-bar {float: left;}
    .navbar .auth tr.links-bar {float: right;}
    .navbar .auth tr.alert-bar .alert{padding: 5px; margin: 0px; width: 100%;}
    
    .navbar .auth tr.control-group{margin: 0px;float: left;}
    .navbar .auth tr.submit-bar{margin: 0px 7px 0px 0px; float: right;}
    
    .navbar .auth th{padding: 5px; width: 30px; color: whitesmoke;}
    .navbar .auth input{width: 105px;}


        .navbar .auth .html_form td{padding: 0px;}
        .navbar .auth .html_form td.links{padding: 5px 0px 0px 5px;}
        .navbar .auth .html_form .links a>img{margin-right: 3px;}
        .navbar .auth .submit{margin: 0px 0px 0px 5px; padding: 4px; width: 80px;}


.navbar-inner{
    padding-right: 5px;
    padding-top: 3px;
}
